#app-container {
  flex-direction: column;
}

#add-button{
  position: absolute;
  width: 3rem;
  height: 3rem;
  color: #FFC107;
  bottom: 15px;
  right: 15px;
}

.rotate {
  transform: rotate(-0.5turn);
}

.hamburger {
  width: 2rem;
  height: 2rem;
  transition: transform 250ms;
}

#year{
  width: 200vw;
  transform-origin: left;
  transform: scale(0.5);
  z-index: 0;
}

@media only screen and (min-width: 992px) { /* for screens wider than 992px */
  #app-container {
    flex-direction: row;
  } 
  
  #nav-container {
    flex-direction: column;
  }

  #add-button:hover{
    color: #d6a100;
  }

  #year{
    width: 100%;
    transform: none;
    gap: 2px;
  }

  #decade{
    gap: 10px;
  }
}